* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    width: 100vw;
    height: 100vh;
}

.image-container {
    margin-top: 20px;
    margin-left: 20px;
    

    width: 1500px;
    height: 10px;
    text-align: center;
}

.display-image {
    width: 100%;
    height: 500px;
    display: block; 
}

.action-button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    
    background: linear-gradient(to right, #ffcc00, #66cc33);
    font-family: Arial, sans-serif;
}